.flows.json.backup
[
    {
        "id": "84134100670d554b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "018d3d9f8b1baf1f",
        "type": "tab",
        "label": "Mimir Core Connections",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7969f211d9887452",
        "type": "websocket-client",
        "path": "ws://mimir.ascendedtrading.com/ws/core",
        "tls": "",
        "wholemsg": "true",
        "hb": "30",
        "subprotocol": ""
    },
    {
        "id": "fe96062b293f302d",
        "type": "websocket-client",
        "path": "ws://mimir.ascendedtrading.com/ws/dev",
        "tls": "",
        "wholemsg": "true",
        "hb": "30",
        "subprotocol": ""
    },
    {
        "id": "b63fcc8ba57942c1",
        "type": "inject",
        "z": "84134100670d554b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "fde5f82253615978"
            ]
        ]
    },
    {
        "id": "fde5f82253615978",
        "type": "function",
        "z": "84134100670d554b",
        "name": "Hello World",
        "func": "node.warn(\"Hello World\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "7131e2df87afec92"
            ]
        ]
    },
    {
        "id": "7131e2df87afec92",
        "type": "debug",
        "z": "84134100670d554b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "cfc311f303c73af4",
        "type": "comment",
        "z": "84134100670d554b",
        "name": "Example Flow",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "0812b5a5d01ccaa5",
        "type": "comment",
        "z": "84134100670d554b",
        "name": "Example Flow 2",
        "info": "",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "28251d9586747408",
        "type": "inject",
        "z": "84134100670d554b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "205cbd7d50058ef6"
            ]
        ]
    },
    {
        "id": "205cbd7d50058ef6",
        "type": "change",
        "z": "84134100670d554b",
        "name": "set msg.payload to \"Hello World\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello World",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "07a7ad65a01cce3e"
            ]
        ]
    },
    {
        "id": "07a7ad65a01cce3e",
        "type": "link out",
        "z": "84134100670d554b",
        "name": "Discord Out Shortcut",
        "mode": "link",
        "links": [
            "18e87e645a79b0eb"
        ],
        "x": 535,
        "y": 320,
        "wires": []
    },
    {
        "id": "ae5cf8f5fe631665",
        "type": "websocket in",
        "z": "018d3d9f8b1baf1f",
        "name": "Mimir Core WebSocket In",
        "server": "",
        "client": "7969f211d9887452",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "4e45b7b7877a11f0"
            ]
        ]
    },
    {
        "id": "19072270ad5a3489",
        "type": "link out",
        "z": "018d3d9f8b1baf1f",
        "name": "Core In",
        "mode": "link",
        "links": [],
        "x": 365,
        "y": 60,
        "wires": []
    },
    {
        "id": "1b6395fe324fb456",
        "type": "websocket out",
        "z": "018d3d9f8b1baf1f",
        "name": "Mimir Core WebSocket Out",
        "server": "",
        "client": "fe96062b293f302d",
        "x": 240,
        "y": 160,
        "wires": []
    },
    {
        "id": "491c7d96c6728cb5",
        "type": "link in",
        "z": "018d3d9f8b1baf1f",
        "name": "Core Out",
        "links": [
            "edccce7940c99df0"
        ],
        "x": 75,
        "y": 160,
        "wires": [
            [
                "1b6395fe324fb456"
            ]
        ]
    },
    {
        "id": "4e45b7b7877a11f0",
        "type": "switch",
        "z": "018d3d9f8b1baf1f",
        "name": "Link Call Check",
        "property": "_linkSource",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 315,
        "y": 80,
        "wires": [
            [
                "19072270ad5a3489"
            ],
            [
                "dea0416b9fe008fb"
            ]
        ],
        "outputLabels": [
            "Firehouse",
            "Return to calling node"
        ],
        "l": false
    },
    {
        "id": "dea0416b9fe008fb",
        "type": "link out",
        "z": "018d3d9f8b1baf1f",
        "name": "Core In Link Call",
        "mode": "return",
        "links": [],
        "x": 365,
        "y": 100,
        "wires": []
    },
    {
        "id": "18e87e645a79b0eb",
        "type": "link in",
        "z": "018d3d9f8b1baf1f",
        "name": "Discord Out",
        "links": [
            "07a7ad65a01cce3e"
        ],
        "x": 85,
        "y": 300,
        "wires": [
            [
                "4ac02535312e527f"
            ]
        ],
        "info": "# Send message to the #playground channel in Valhalla\n# \n\n### Send a text message\n`msg.payload = \"Hello World\"`\n\n### Send an embed \nHelpful tool: https://glitchii.github.io/embedbuilder/\n`msg.embeds = \n        {\n            \"title\": \"Hello ~~people~~ world :wave:\",\n            \"description\": \"You can use [links](https://discord.com) or emojis :smile: 😎\\n```\\nAnd also code blocks\\n```\",\n            \"color\": 4321431,\n            \"timestamp\": \"2022-11-25T03:52:05.554Z\",\n            \"url\": \"https://discord.com\",\n            \"author\": {\n                \"name\": \"Author name\",\n                \"url\": \"https://discord.com\",\n                \"icon_url\": \"https://cdn.discordapp.com/embed/avatars/0.png\"\n            },\n            \"thumbnail\": {\n                \"url\": \"https://cdn.discordapp.com/embed/avatars/0.png\"\n            },\n            \"image\": {\n                \"url\": \"https://glitchii.github.io/embedbuilder/assets/media/banner.png\"\n            },\n            \"footer\": {\n                \"text\": \"Footer text\",\n                \"icon_url\": \"https://cdn.discordapp.com/embed/avatars/0.png\"\n            },\n            \"fields\": [\n                {\n                    \"name\": \"Field 1, *lorem* **ipsum**, ~~dolor~~\",\n                    \"value\": \"Field value\"\n                },\n                {\n                    \"name\": \"Field 2\",\n                    \"value\": \"You can use custom emojis <:Kekwlaugh:722088222766923847>. <:GangstaBlob:742256196295065661>\",\n                    \"inline\": false\n                },\n                {\n                    \"name\": \"Inline field\",\n                    \"value\": \"Fields can be inline\",\n                    \"inline\": true\n                },\n                {\n                    \"name\": \"Inline field\",\n                    \"value\": \"*Lorem ipsum*\",\n                    \"inline\": true\n                },\n                {\n                    \"name\": \"Inline field\",\n                    \"value\": \"value\",\n                    \"inline\": true\n                },\n                {\n                    \"name\": \"Another field\",\n                    \"value\": \"> Nope, didn't forget about this\",\n                    \"inline\": false\n                }\n            ]\n        }\n    `"
    },
    {
        "id": "4ac02535312e527f",
        "type": "change",
        "z": "018d3d9f8b1baf1f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "core",
                "pt": "msg",
                "to": "discord/out",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "edccce7940c99df0"
            ]
        ]
    },
    {
        "id": "edccce7940c99df0",
        "type": "link out",
        "z": "018d3d9f8b1baf1f",
        "name": "Core Out Shortcut",
        "mode": "link",
        "links": [
            "491c7d96c6728cb5"
        ],
        "x": 295,
        "y": 300,
        "wires": []
    },
    {
        "id": "1cd0176c3668aba9",
        "type": "comment",
        "z": "018d3d9f8b1baf1f",
        "name": "Discord Out",
        "info": "# Send message to the #playground channel in Valhalla\n# \n\n### Send a text message\n`msg.payload = \"Hello World\"`\n\n### Send an embed \nHelpful tool: https://glitchii.github.io/embedbuilder/\n`msg.embeds = \n        {\n            \"title\": \"Hello ~~people~~ world :wave:\",\n            \"description\": \"You can use [links](https://discord.com) or emojis :smile: 😎\\n```\\nAnd also code blocks\\n```\",\n            \"color\": 4321431,\n            \"timestamp\": \"2022-11-25T03:52:05.554Z\",\n            \"url\": \"https://discord.com\",\n            \"author\": {\n                \"name\": \"Author name\",\n                \"url\": \"https://discord.com\",\n                \"icon_url\": \"https://cdn.discordapp.com/embed/avatars/0.png\"\n            },\n            \"thumbnail\": {\n                \"url\": \"https://cdn.discordapp.com/embed/avatars/0.png\"\n            },\n            \"image\": {\n                \"url\": \"https://glitchii.github.io/embedbuilder/assets/media/banner.png\"\n            },\n            \"footer\": {\n                \"text\": \"Footer text\",\n                \"icon_url\": \"https://cdn.discordapp.com/embed/avatars/0.png\"\n            },\n            \"fields\": [\n                {\n                    \"name\": \"Field 1, *lorem* **ipsum**, ~~dolor~~\",\n                    \"value\": \"Field value\"\n                },\n                {\n                    \"name\": \"Field 2\",\n                    \"value\": \"You can use custom emojis <:Kekwlaugh:722088222766923847>. <:GangstaBlob:742256196295065661>\",\n                    \"inline\": false\n                },\n                {\n                    \"name\": \"Inline field\",\n                    \"value\": \"Fields can be inline\",\n                    \"inline\": true\n                },\n                {\n                    \"name\": \"Inline field\",\n                    \"value\": \"*Lorem ipsum*\",\n                    \"inline\": true\n                },\n                {\n                    \"name\": \"Inline field\",\n                    \"value\": \"value\",\n                    \"inline\": true\n                },\n                {\n                    \"name\": \"Another field\",\n                    \"value\": \"> Nope, didn't forget about this\",\n                    \"inline\": false\n                }\n            ]\n        }\n    `",
        "x": 190,
        "y": 260,
        "wires": []
    }
]