.flows.json.backup
[
    {
        "id": "84134100670d554b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "018d3d9f8b1baf1f",
        "type": "tab",
        "label": "Mimir Core Connections",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7969f211d9887452",
        "type": "websocket-client",
        "path": "ws://mimir.ascendedtrading.com/ws/core",
        "tls": "",
        "wholemsg": "true",
        "hb": "30",
        "subprotocol": ""
    },
    {
        "id": "fe96062b293f302d",
        "type": "websocket-client",
        "path": "ws://mimir.ascendedtrading.com/ws/dev",
        "tls": "",
        "wholemsg": "true",
        "hb": "30",
        "subprotocol": ""
    },
    {
        "id": "b63fcc8ba57942c1",
        "type": "inject",
        "z": "84134100670d554b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "fde5f82253615978"
            ]
        ]
    },
    {
        "id": "fde5f82253615978",
        "type": "function",
        "z": "84134100670d554b",
        "name": "Hello World",
        "func": "node.warn(\"Hello World\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "7131e2df87afec92"
            ]
        ]
    },
    {
        "id": "7131e2df87afec92",
        "type": "debug",
        "z": "84134100670d554b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "cfc311f303c73af4",
        "type": "comment",
        "z": "84134100670d554b",
        "name": "Example Flow",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "ae5cf8f5fe631665",
        "type": "websocket in",
        "z": "018d3d9f8b1baf1f",
        "name": "Mimir Core WebSocket In",
        "server": "",
        "client": "7969f211d9887452",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "19072270ad5a3489"
            ]
        ]
    },
    {
        "id": "19072270ad5a3489",
        "type": "link out",
        "z": "018d3d9f8b1baf1f",
        "name": "Core In",
        "mode": "link",
        "links": [],
        "x": 315,
        "y": 80,
        "wires": []
    },
    {
        "id": "1b6395fe324fb456",
        "type": "websocket out",
        "z": "018d3d9f8b1baf1f",
        "name": "Mimir Core WebSocket Out",
        "server": "",
        "client": "fe96062b293f302d",
        "x": 240,
        "y": 120,
        "wires": []
    },
    {
        "id": "491c7d96c6728cb5",
        "type": "link in",
        "z": "018d3d9f8b1baf1f",
        "name": "Core Out",
        "links": [],
        "x": 75,
        "y": 120,
        "wires": [
            [
                "1b6395fe324fb456"
            ]
        ]
    }
]